using System;

namespace __PLUGIN_NAMESPACE__;

public class __CLASS_NAME__Command : PluginDynamicCommand
{
    private readonly String[] _shortcuts = new[] { __SHORTCUT_LIST__ };

    public __CLASS_NAME__Command()
        : base("__ACTION_NAME__", "__ACTION_DESCRIPTION__", "__ACTION_GROUP__")
    {
    }

    protected override void RunCommand(String actionParameter)
    {
        if (_shortcuts.Length > 0)
        {
            GeneratedShortcutDispatcher.TrySendShortcut(this.Plugin, _shortcuts[0]);
        }
    }
}
