type: plugin4
name: __PACKAGE_NAME__
pluginName: __PACKAGE_NAME__
displayName: "__DISPLAY_NAME__"
description: "__DESCRIPTION__"
version: __VERSION__
author: "__AUTHOR__"
license: __LICENSE__
pluginFileName: __PLUGIN_FILE_NAME__
supportedDevices:
  - __SUPPORTED_DEVICE__
minimumLoupedeckVersion: __MIN_LOUPEDECK_VERSION__
pluginFolderWin: win
pluginFolderMac: mac
