{
  "backgroundColor": __BACKGROUND_COLOR_INT__,
  "items": [
    {
      "image": "",
      "imageFileName": null,
      "imageColor": __FOREGROUND_COLOR_INT__,
      "imageRotation": "None",
      "isVisible": true,
      "itemType": "Image",
      "area": {
        "x": 15,
        "y": 0,
        "width": 70,
        "height": 70
      }
    },
    {
      "text": "",
      "textColor": __FOREGROUND_COLOR_INT__,
      "fontSize": 5,
      "fontName": "Brown Logitech Pan Light",
      "isVisible": true,
      "itemType": "Text",
      "area": {
        "x": 0,
        "y": 70,
        "width": 100,
        "height": 30
      }
    }
  ]
}
