<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net8.0</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>disable</Nullable>
    <RootNamespace>__ROOT_NAMESPACE__</RootNamespace>
    <AssemblyName>__ASSEMBLY_NAME__</AssemblyName>
  </PropertyGroup>
__PLUGIN_API_REFERENCE__</Project>
