  <ItemGroup>
    <Reference Include="PluginApi">
      <HintPath>__PLUGIN_API_HINT_PATH__</HintPath>
      <Private>false</Private>
      <CopyLocal>false</CopyLocal>
    </Reference>
  </ItemGroup>
